.card{
    background-color: $color-white;
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 0 0 0 1px rgba(130,136,148,.16), 0 8px 10px -4px rgba(130,136,148,.28);
    &._align-top{
        margin-top: -80px; 
    }
}